<div style="margin: 10px; text-align:center">
    <h3>Conectado a web socket </h3>
</div>

<a style="margin: 4px;" href="products/realtimeproducts">Ir a los productos</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>